.box {
  color: rgb(1, 1, 1);
  background: rgba(255, 255, 255, 0.8);
}
.box {
  color: hsl(240, 100%, 50%);
  background: hsla(240, 100%, 50%, 0.8);
}
.color-channel {
  hsv: rgb(64, 128, 0);
  hsva: rgba(64, 128, 0, 0.5);
  hue: 90;
  saturation: 100%;
  lightness: 50%;
  hsvhue: 90;
  hsvsaturation: 100%;
  hsvvalue: 50%;
  red: 10;
  green: 20;
  blue: 30;
  alpha: 0.5;
  luma: 44.11161568%;
  luminance: 65.28078431%;
}
