/**
  @todo - add way more CSS nesting examples
  @see https://www.w3.org/TR/css-nesting-1/
*/

a {
    two: 2;
    & b {
        three: 3;
    }
}

a {
  width: 10px;
  @mixin mobile {
      height: 100px;
  }
}

