ul.comma > li:not(:only-child)::after {
  color: inherit;
}

ol.comma > li:nth-last-child(2)::after {
  color: inherit;
}

li:nth-child(4n+1),
li:nth-child(-5n),
li:nth-child(-n+2) {
  color: inherit;
}

li:unknown(value) {
  color: inherit;
}