@charset "utf-8";

and .root, a#selected,
.a > .b {
  color: black;
  padding: 1px 1 1 1;
  content: "something";
  foo: and;
}

:root {
  --zero-size: {
    width: 'foo';
    height: 0;
  };
  --small-icon: {
    width: 16px;
    height: 16px;
  }
  ;
  something: var(--zero-size);
}

@import "foo";
