@media screen {
  a {
    color: red;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  a {
    color: blue;
  }
}
@supports (display: grid) {
  a {
    display: grid;
  }
}
@supports not (display: grid) {
  a {
    display: flex;
  }
}
@layer base {
  a {
    color: green;
  }
}
@container card (min-width: 400px) {
  a {
    color: teal;
  }
}
@container ((width > 1px) and (height > 1px)) {
  a {
    color: red;
  }
}
@container style(--x: 1) {
  a {
    color: red;
  }
}
@container (style(--x: 1)) {
  a {
    color: red;
  }
}
