* {
  margin: 0;
}
a,
b,
.c,
#d {
  color: red;
}
a > b {
  color: blue;
}
a + b {
  color: green;
}
a ~ b {
  color: teal;
}
a b {
  color: navy;
}
[data-x] {
  color: red;
}
[data-x="y"] {
  color: red;
}
a:is(.b, .c) {
  color: red;
}
a:where(.b) {
  color: red;
}
a:not(.b):hover {
  color: red;
}
a::first-line {
  color: red;
}
svg|circle {
  fill: red;
}
