+.target-00 {
  value: 0;
}
.extend-00:extend(.target-00 all) {}
.target-01 {
  value: 1;
}
.extend-01:extend(.target-01 all) {}
.target-02 {
  value: 2;
}
.extend-02:extend(.target-02 all) {}
.target-03 {
  value: 3;
}
.extend-03:extend(.target-03 all) {}
.target-04 {
  value: 4;
}
.extend-04:extend(.target-04 all) {}
.target-05 {
  value: 5;
}
.extend-05:extend(.target-05 all) {}
.target-06 {
  value: 6;
}
.extend-06:extend(.target-06 all) {}
.target-07 {
  value: 7;
}
.extend-07:extend(.target-07 all) {}
.target-08 {
  value: 8;
}
.extend-08:extend(.target-08 all) {}
.target-09 {
  value: 9;
}
.extend-09:extend(.target-09 all) {}
.target-10 {
  value: 10;
}
.extend-10:extend(.target-10 all) {}
.target-11 {
  value: 11;
}
.extend-11:extend(.target-11 all) {}
.target-12 {
  value: 12;
}
.extend-12:extend(.target-12 all) {}
.target-13 {
  value: 13;
}
.extend-13:extend(.target-13 all) {}
.target-14 {
  value: 14;
}
.extend-14:extend(.target-14 all) {}
.target-15 {
  value: 15;
}
.extend-15:extend(.target-15 all) {}
.target-16 {
  value: 16;
}
.extend-16:extend(.target-16 all) {}
.target-17 {
  value: 17;
}
.extend-17:extend(.target-17 all) {}
.target-18 {
  value: 18;
}
.extend-18:extend(.target-18 all) {}
.target-19 {
  value: 19;
}
.extend-19:extend(.target-19 all) {}
.target-20 {
  value: 20;
}
.extend-20:extend(.target-20 all) {}
.target-21 {
  value: 21;
}
.extend-21:extend(.target-21 all) {}
.target-22 {
  value: 22;
}
.extend-22:extend(.target-22 all) {}
.target-23 {
  value: 23;
}
.extend-23:extend(.target-23 all) {}
.target-24 {
  value: 24;
}
.extend-24:extend(.target-24 all) {}
.target-25 {
  value: 25;
}
.extend-25:extend(.target-25 all) {}
.target-26 {
  value: 26;
}
.extend-26:extend(.target-26 all) {}
.target-27 {
  value: 27;
}
.extend-27:extend(.target-27 all) {}
.target-28 {
  value: 28;
}
.extend-28:extend(.target-28 all) {}
.target-29 {
  value: 29;
}
.extend-29:extend(.target-29 all) {}
.target-30 {
  value: 30;
}
.extend-30:extend(.target-30 all) {}
.target-31 {
  value: 31;
}
.extend-31:extend(.target-31 all) {}
